name: CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./...

      - name: Build app
        run: go build -o app .

  publish:
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          TAG=${GITHUB_REF##*/}
          docker build -t iznaurr/final:$TAG .
          docker tag iznaurr/final:$TAG iznaurr/final:latest
          docker push iznaurr/final:$TAG
          docker push iznaurr/final:latest
